PiAAgrafy/.vs
PiAAgrafy/Debug
PiAAgrafy/out
ProjektSortowanie1/.vs
ProjektSortowanie1/out
TicTacToe/.vs
TicTacToe/x64
TicTacToe/TicTacToe
TicTacToe/TicTacToe.vxcproj
TicTacToe/TicTacToe.vxcproj.filters
TicTacToe/TicTacToe.vxcproj.user